unpackaged/main/default/flows/AppStatChange.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AssignCompl</name>
        <label>AssignCompl</label>
        <locationX>587</locationX>
        <locationY>460</locationY>
        <assignmentItems>
            <assignToReference>CurrServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrServiceAppointment.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignInProgress</name>
        <label>AssignInProgress</label>
        <locationX>590</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>CurrServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrServiceAppointment.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdStatus</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Completed</name>
        <choiceText>Terminé</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Started</name>
        <choiceText>Arrivé chez le patient / Début de l&apos;intervention</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Progress</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_selection</name>
        <label>GoForCompleted</label>
        <locationX>396</locationX>
        <locationY>362</locationY>
        <defaultConnector>
            <targetReference>Falure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CompletedNewStat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrServiceAppointment.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetCompleted</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>GoForStart</name>
        <label>GoForStart</label>
        <locationX>399</locationX>
        <locationY>182</locationY>
        <defaultConnector>
            <targetReference>Check_selection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GoodStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrServiceAppointment.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrServiceAppointment.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>upd_stat_start</targetReference>
            </connector>
            <label>GoodStatus</label>
        </rules>
    </decisions>
    <interviewLabel>AppStatChange {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AppStatChange</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>GetApp</name>
        <label>GetApp</label>
        <locationX>50</locationX>
        <locationY>267</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GoForStart</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>CurrServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ActualStartTime</queriedFields>
        <queriedFields>ActualEndTime</queriedFields>
        <queriedFields>a_ActEndGeo__c</queriedFields>
        <queriedFields>a_ActStartGeoTimestamp__c</queriedFields>
        <queriedFields>a_ActEndGeoTimestamp__c</queriedFields>
        <queriedFields>a_ActEndLat__c</queriedFields>
        <queriedFields>a_ActEndLong__c</queriedFields>
        <queriedFields>a_ActStartGeo__c</queriedFields>
        <queriedFields>a_ActStartLat__c</queriedFields>
        <queriedFields>a_ActStartLong__c</queriedFields>
        <queriedFields>a_EffEndUser__c</queriedFields>
        <queriedFields>a_EffStartUser__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdStatus</name>
        <label>UpdStatus</label>
        <locationX>958</locationX>
        <locationY>279</locationY>
        <inputReference>CurrServiceAppointment</inputReference>
    </recordUpdates>
    <screens>
        <name>Falure</name>
        <label>Falure</label>
        <locationX>386</locationX>
        <locationY>792</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StatusNotUpdated</name>
            <fieldText>&lt;p&gt;Le statut n&apos;a pas été mis à jour. L&apos;intervention déjà terminée ou en mauvais état.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SetCompleted</name>
        <label>SetCompleted</label>
        <locationX>488</locationX>
        <locationY>559</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignCompl</targetReference>
        </connector>
        <fields>
            <name>Nouveau_statut_2</name>
            <choiceReferences>Completed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Nouveau statut</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>upd_stat_start</name>
        <label>Mettre à jour le statut de l&apos;intervention</label>
        <locationX>499</locationX>
        <locationY>52</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignInProgress</targetReference>
        </connector>
        <fields>
            <name>Nouveau_statut</name>
            <choiceReferences>Started</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Nouveau statut</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>131</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetApp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
