unpackaged/main/default/flows/CaseSetStatusDefPrestations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>InitDossierIntervention</name>
        <label>InitDossierIntervention</label>
        <locationX>398</locationX>
        <locationY>352</locationY>
        <assignmentItems>
            <assignToReference>NewDossier.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En préparation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDossier.Valide_du__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDossier.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MakeDossierIntervention</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseStatus</name>
        <label>SetCaseStatus</label>
        <locationX>98</locationX>
        <locationY>357</locationY>
        <assignmentItems>
            <assignToReference>GetCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Définition des prestations</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DossierExists</name>
        <label>DossierExists</label>
        <locationX>551</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>InitDossierIntervention</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DossierExistsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currDossierInterv.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dossier_existant</targetReference>
            </connector>
            <label>DossierExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidateAccRecordType</name>
        <label>ValidateAccRecordType</label>
        <locationX>716</locationX>
        <locationY>230</locationY>
        <defaultConnector>
            <targetReference>GetDossInterv</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordTypeInvalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExpectedAccRecordTypeID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>GetAccount.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_d_erreur1</targetReference>
            </connector>
            <label>RecordTypeInvalid</label>
        </rules>
    </decisions>
    <description>Pour les Requêtes, avancer le statut sur Définition des prestations</description>
    <interviewLabel>CaseSetStatusDefPrestations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CaseSetStatusDefPrestations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>MakeDossierIntervention</name>
        <label>MakeDossierIntervention</label>
        <locationX>234</locationX>
        <locationY>352</locationY>
        <connector>
            <targetReference>SetCaseStatus</targetReference>
        </connector>
        <inputReference>NewDossier</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>594</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ValidateAccRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCase</name>
        <label>GetCase</label>
        <locationX>329</locationX>
        <locationY>232</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDossInterv</name>
        <label>GetDossInterv</label>
        <locationX>724</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DossierExists</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En préparation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Actif</stringValue>
            </value>
        </filters>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </filters>
        <object>Dossier_de_prise_en_charge__c</object>
        <outputReference>currDossierInterv</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeID</name>
        <label>GetRecordTypeID</label>
        <locationX>468</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ExpectedAccRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>147</locationX>
        <locationY>540</locationY>
        <connector>
            <targetReference>Dossier_cr</targetReference>
        </connector>
        <inputReference>GetCase</inputReference>
    </recordUpdates>
    <screens>
        <name>Dossier_cr</name>
        <label>Dossier créé</label>
        <locationX>269</locationX>
        <locationY>516</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DossierCreated</name>
            <fieldText>&lt;p&gt;Un nouveau dossier d&apos;invertention a été créé pour ce patient. A partir de ce dossier vous pouvez définir des nouvelles prestations.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dossier_existant</name>
        <label>Dossier existant</label>
        <locationX>563</locationX>
        <locationY>521</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WarningDossierExist</name>
            <fieldText>&lt;p&gt;Information: Pour ce patient il existe déjà un dossier d&apos;intervention actif ou en préparation&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Information</name>
        <label>Information</label>
        <locationX>176</locationX>
        <locationY>232</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
        <fields>
            <name>Information_1</name>
            <fieldText>&lt;p&gt;Vous êtes en train d&apos;ouvrir un nouveau dossier d&apos;intervention pour un Patient. Depuis ce nouveau dossier vous pouvez ensuite démarrer des requêtes pour définition de nouvelles prestations.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_d_erreur1</name>
        <label>Message d&apos;erreur</label>
        <locationX>958</locationX>
        <locationY>230</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorRecordType</name>
            <fieldText>&lt;p&gt;Le contact lié à la Requête n&apos;est pas un patient. Vous ne pouvez pas continuer. Vérifiez d&apos;abord les données.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currDossierInterv</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Dossier_de_prise_en_charge__c</objectType>
    </variables>
    <variables>
        <name>ExpectedAccRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Dossier_de_prise_en_charge__c</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
