unpackaged/main/default/flows/NewMesure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_values</name>
        <label>Assign values</label>
        <locationX>596</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>NewMesure.Type_de_la_mesure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type_de_la_mesure</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMesure.Valeur_mesuree__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Valeur_m_sur_e</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMesure.Dossier_de_soins_del__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrWO.a_Dossier_de_soins__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMesure.Dossier_d_intervention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrWO.Dossier_de_prise_en_charge_du_parent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMesure.Date_de_la_mesure__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewMesure.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrWO.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRecord</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>TypeMesure</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Type_de_la_mesure__c</picklistField>
        <picklistObject>Mesure__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>NewMesure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NewMesure</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CreateRecord</name>
        <label>CreateRecord</label>
        <locationX>772</locationX>
        <locationY>213</locationY>
        <inputReference>NewMesure</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetWO</name>
        <label>GetWO</label>
        <locationX>176</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Saisie_d_une_mesure</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>CurrWO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>a_Dossier_de_soins__c</queriedFields>
        <queriedFields>Dossier_de_prise_en_charge_du_parent__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Saisie_d_une_mesure</name>
        <label>Saisie d&apos;une mesure</label>
        <locationX>403</locationX>
        <locationY>213</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_values</targetReference>
        </connector>
        <fields>
            <name>Type_de_la_mesure</name>
            <choiceReferences>TypeMesure</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type de la mesure</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Valeur_m_sur_e</name>
            <dataType>String</dataType>
            <fieldText>Valeur mésurée</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetWO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewMesure</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mesure__c</objectType>
    </variables>
    <variables>
        <name>NewTransm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transmission__c</objectType>
    </variables>
</Flow>
