unpackaged/main/default/flows/NewPrestation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>AssignDossier</name>
        <label>AssignDossier</label>
        <locationX>516</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>RecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCase.a_Dossier_prise_en_charge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetDossInterv2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDossier2</name>
        <label>AssignDossier2</label>
        <locationX>260</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>RecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDossInterv.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetDossInterv2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignStatus</name>
        <label>AssignStatus</label>
        <locationX>744</locationX>
        <locationY>744</locationY>
        <assignmentItems>
            <assignToReference>myParentCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Définition des prestations</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateParentCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignWOId</name>
        <label>AssignWOId</label>
        <locationX>569</locationX>
        <locationY>461</locationY>
        <assignmentItems>
            <assignToReference>RecordWOId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewWorkOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Prestation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewWorkOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateNewCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LAMal_1</name>
        <label>LAMal</label>
        <locationX>1261</locationX>
        <locationY>419</locationY>
        <assignmentItems>
            <assignToReference>myRTCS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RTCSLamal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myRTWO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RTWOLamal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PopulateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PopulateCase</name>
        <label>PopulateCase</label>
        <locationX>1034</locationX>
        <locationY>449</locationY>
        <assignmentItems>
            <assignToReference>NewCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myRTCS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.a_Dossier_prise_en_charge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDossInterv2.Patient__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nouvelle prestation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCase.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myParentCaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PopulateWorkOrder</name>
        <label>PopulateWorkOrder</label>
        <locationX>818</locationX>
        <locationY>447</locationY>
        <assignmentItems>
            <assignToReference>NewWorkOrder.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myRTWO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrder.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myWorkTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrder.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDossInterv2.Patient__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrder.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCase.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrder.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetDossInterv2.Patient__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrder.Dossier_de_prise_en_charge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrder.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrder.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrder.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrder.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrder.CountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.ShippingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrder.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewWorkOrder.StateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.ShippingStateCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateWorkOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Priv_1</name>
        <label>Priv</label>
        <locationX>1264</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>myRTCS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RTCSPriv</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myRTWO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RTWOPriv</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PopulateCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Soc_1</name>
        <label>Soc</label>
        <locationX>1425</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>myRTCS</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RTCSSoc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>myRTWO</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RTWOSoc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PopulateCase</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>chLAMal</name>
        <choiceText>LAMal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>LAMal</stringValue>
        </value>
    </choices>
    <choices>
        <name>csPriv</name>
        <choiceText>Privé</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Priv</stringValue>
        </value>
    </choices>
    <choices>
        <name>csSocial</name>
        <choiceText>Social</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Soc</stringValue>
        </value>
    </choices>
    <decisions>
        <name>DossActif</name>
        <label>DossActif</label>
        <locationX>526</locationX>
        <locationY>186</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsActif</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetDossInterv2.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En préparation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetDossInterv2.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Actif</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRTWOLamal</targetReference>
            </connector>
            <label>IsActif</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAccount</name>
        <label>IsAccount</label>
        <locationX>169</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>GetDossInterv2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsAccountYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get3FromRecordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetDossInterv</targetReference>
            </connector>
            <label>IsAccountYes</label>
        </rules>
        <rules>
            <name>IsCaseYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get3FromRecordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetCase</targetReference>
            </connector>
            <label>IsCaseYes</label>
        </rules>
    </decisions>
    <decisions>
        <name>NoActivDossInterv</name>
        <label>NoActivDossInterv</label>
        <locationX>348</locationX>
        <locationY>374</locationY>
        <defaultConnector>
            <targetReference>AssignDossier2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDossInterv</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>NoDossier</label>
        </rules>
    </decisions>
    <decisions>
        <name>ParentCaseStatus</name>
        <label>ParentCaseStatus</label>
        <locationX>738</locationX>
        <locationY>608</locationY>
        <defaultConnector>
            <targetReference>UpdateParentCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myParentCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dossier patient</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignStatus</targetReference>
            </connector>
            <label>IsDossierPatient</label>
        </rules>
    </decisions>
    <decisions>
        <name>SelectedTypePrestation</name>
        <label>SelectedTypePrestation</label>
        <locationX>1415</locationX>
        <locationY>414</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LAMal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_de_prestation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LAMal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LAMal_1</targetReference>
            </connector>
            <label>LAMal</label>
        </rules>
        <rules>
            <name>Priv</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_de_prestation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Priv</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Priv_1</targetReference>
            </connector>
            <label>Priv</label>
        </rules>
        <rules>
            <name>Soc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_de_prestation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Soc</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Soc_1</targetReference>
            </connector>
            <label>Soc</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>WorkTypes</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Infirmière</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Auxiliaire</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ASSC</stringValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>myWorkTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <formulas>
        <name>Get3FromRecordId</name>
        <dataType>String</dataType>
        <expression>LEFT({!RecordId}, 3)</expression>
    </formulas>
    <interviewLabel>NewPrestation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NewPrestation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateCase</name>
        <label>CreateCase</label>
        <locationX>917</locationX>
        <locationY>447</locationY>
        <connector>
            <targetReference>PopulateWorkOrder</targetReference>
        </connector>
        <inputReference>NewCase</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateWorkOrder</name>
        <label>CreateWorkOrder</label>
        <locationX>687</locationX>
        <locationY>450</locationY>
        <connector>
            <targetReference>AssignWOId</targetReference>
        </connector>
        <inputReference>NewWorkOrder</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>783</locationX>
        <locationY>91</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRTWOPriv</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDossInterv2.Patient__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCase</name>
        <label>GetCase</label>
        <locationX>389</locationX>
        <locationY>70</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignDossier</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDossInterv</name>
        <label>GetDossInterv</label>
        <locationX>175</locationX>
        <locationY>372</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NoActivDossInterv</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En préparation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Actif</stringValue>
            </value>
        </filters>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dossier_de_prise_en_charge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDossInterv2</name>
        <label>GetDossInterv</label>
        <locationX>350</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DossActif</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Dossier_de_prise_en_charge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetParentCase</name>
        <label>GetParentCase</label>
        <locationX>1352</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>myParentCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>a_Dossier_prise_en_charge__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>myParentCaseId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetRTCSLamal</name>
        <label>GetRTCSLamal</label>
        <locationX>1068</locationX>
        <locationY>249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRTCSPriv</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nouvelle_prestation_LAMal</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RTCSLamal</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetRTCSPriv</name>
        <label>GetRTCSPriv</label>
        <locationX>1182</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRTCSSoc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nouvelle_prestation_privee</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RTCSPriv</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetRTCSSoc</name>
        <label>GetRTCSSoc</label>
        <locationX>1286</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetParentCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Nouvelle_prestation_sociale</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RTCSSoc</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetRTWOLamal</name>
        <label>GetRTWOLamal</label>
        <locationX>726</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prestation_LAMal</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RTWOLamal</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetRTWOPriv</name>
        <label>GetRTWOPriv</label>
        <locationX>841</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRTWOSoc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prestation_privee</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RTWOPriv</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetRTWOSoc</name>
        <label>GetRTWOSoc</label>
        <locationX>952</locationX>
        <locationY>254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRTCSLamal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prestation_sociale</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WorkOrder</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>RTWOSoc</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>myParentCase</name>
        <label>myParentCase</label>
        <locationX>1409</locationX>
        <locationY>121</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myParentCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateNewCase</name>
        <label>UpdateNewCase</label>
        <locationX>561</locationX>
        <locationY>598</locationY>
        <connector>
            <targetReference>ParentCaseStatus</targetReference>
        </connector>
        <inputReference>NewCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateParentCase</name>
        <label>UpdateParentCase</label>
        <locationX>875</locationX>
        <locationY>731</locationY>
        <inputReference>myParentCase</inputReference>
    </recordUpdates>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>476</locationX>
        <locationY>306</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorDossier</name>
            <fieldText>&lt;p&gt;Pas de dossier d&apos;intervention actif. Vous ne pouvez pas continuer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Types</name>
        <label>Types</label>
        <locationX>1423</locationX>
        <locationY>254</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SelectedTypePrestation</targetReference>
        </connector>
        <fields>
            <name>Type_de_prestation</name>
            <choiceReferences>chLAMal</choiceReferences>
            <choiceReferences>csSocial</choiceReferences>
            <choiceReferences>csPriv</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type de prise en charge</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_Type</name>
            <choiceReferences>WorkTypes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type de ressource (compétence)</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IsAccount</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>myParentCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>myRTCS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>myRTWO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>myWorkTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordWOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RTCSLamal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RTCSPriv</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RTCSSoc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RTWOLamal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RTWOPriv</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RTWOSoc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
