unpackaged/main/default/flows/Planification_ad_hoc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>LaunchPlanningAll</name>
        <label>LaunchPlanningAll</label>
        <locationX>599</locationX>
        <locationY>445</locationY>
        <actionName>ARC_MassRecurrences</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>LaunchPlanningRec</name>
        <label>LaunchPlanningRec</label>
        <locationX>162</locationX>
        <locationY>265</locationY>
        <actionName>ARC_ManageRecurrences</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>woIdList</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PurgeAllInterv</name>
        <label>PurgeAllInterv</label>
        <locationX>829</locationX>
        <locationY>452</locationY>
        <actionName>ARC_MassPurge</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <choices>
        <name>allPrest</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Générer les interventions pour toutes les prestations &apos;In Progress&apos; au travers de tout le système&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>allPrest</stringValue>
        </value>
    </choices>
    <choices>
        <name>allPurge</name>
        <choiceText>Purger l&apos;ensemble d&apos;interventions; réinitialiser les prestations</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>allPurge</stringValue>
        </value>
    </choices>
    <choices>
        <name>currentPrestation</name>
        <choiceText>Générer les interventions seulement pour la prestation sur l&apos;écran</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>currPrest</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Selection</name>
        <label>Selection</label>
        <locationX>596</locationX>
        <locationY>268</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>currPrestation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Que_voulez_vous_faire</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>currentPrestation</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LaunchPlanningRec</targetReference>
            </connector>
            <label>currPrestation</label>
        </rules>
        <rules>
            <name>allPresta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Que_voulez_vous_faire</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>allPrest</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LaunchPlanningAll</targetReference>
            </connector>
            <label>allPrest</label>
        </rules>
        <rules>
            <name>purgeAlls</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Que_voulez_vous_faire</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>allPurge</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>WARNING2</targetReference>
            </connector>
            <label>purgeAlls</label>
        </rules>
    </decisions>
    <interviewLabel>Planification ad-hoc {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Planification ad-hoc</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Pour_la_phase_de_tests_uniquement</name>
        <label>Pour la phase de tests uniquement</label>
        <locationX>572</locationX>
        <locationY>68</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selection</targetReference>
        </connector>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p&gt;Cette fonction n&apos;a été faite que pour la phase des tests. Elle permet de générer les interventions à partir des prestations existantes.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(234, 11, 11);&quot;&gt;Veuillez noter, que les prestations doivent être en statut &apos;In Progress&apos; pour que les interventions soient générées. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Que_voulez_vous_faire</name>
            <choiceReferences>currentPrestation</choiceReferences>
            <choiceReferences>allPrest</choiceReferences>
            <choiceReferences>allPurge</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Que voulez-vous faire?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WARNING2</name>
        <label>WARNING2</label>
        <locationX>845</locationX>
        <locationY>268</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PurgeAllInterv</targetReference>
        </connector>
        <fields>
            <name>warningtext</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(237, 4, 4);&quot;&gt;ATTENTION ! L&apos;ensemble de prestations sera supprimé, indépendamment de leur  statut. (fermer la page ou l&apos;onglet si vous ne voulez pas continuer)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Pour_la_phase_de_tests_uniquement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
