unpackaged/main/default/flows/Prise_en_charge.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>InitDossierIntervention</name>
        <label>InitDossierIntervention</label>
        <locationX>398</locationX>
        <locationY>352</locationY>
        <assignmentItems>
            <assignToReference>NewDossier.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>En préparation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDossier.Valide_du__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewDossier.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MakeDossierIntervention</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myDossIntervNew</name>
        <label>myDossIntervNew</label>
        <locationX>133</locationX>
        <locationY>329</locationY>
        <assignmentItems>
            <assignToReference>myDossierIntervention</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewDossier.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetCaseStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myDossInvervExisting</name>
        <label>myDossInvervExisting</label>
        <locationX>311</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>myDossierIntervention</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currDossierInterv.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SetCaseStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetCaseStatus</name>
        <label>SetCaseStatus</label>
        <locationX>58</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>GetCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dossier patient</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecTypePriseEnCharge.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCase.a_Dossier_intervention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>myDossierIntervention</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>initSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Patient</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CasePriseEnChargeExists</name>
        <label>CasePriseEnChargeExists</label>
        <locationX>729</locationX>
        <locationY>70</locationY>
        <defaultConnector>
            <targetReference>GetRecordTypeID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OtherPriseEnChargeCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_requ_te_existe</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>DossierExists</name>
        <label>DossierExists</label>
        <locationX>514</locationX>
        <locationY>558</locationY>
        <defaultConnector>
            <targetReference>InitDossierIntervention</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DossierExistsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currDossierInterv.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDossInvervExisting</targetReference>
            </connector>
            <label>DossierExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValidateAccRecordType</name>
        <label>ValidateAccRecordType</label>
        <locationX>435</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>GetDossInterv</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordTypeInvalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExpectedAccRecordTypeID</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>GetAccount.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Message_d_erreur1</targetReference>
            </connector>
            <label>RecordTypeInvalid</label>
        </rules>
    </decisions>
    <formulas>
        <name>initSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Prise en charge de &apos; + {!GetAccount.FirstName} + &apos; &apos; + {!GetAccount.LastName}</expression>
    </formulas>
    <interviewLabel>Prise en charge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Prise en charge</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>MakeDossierIntervention</name>
        <label>MakeDossierIntervention</label>
        <locationX>231</locationX>
        <locationY>328</locationY>
        <connector>
            <targetReference>myDossIntervNew</targetReference>
        </connector>
        <inputReference>NewDossier</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>600</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ValidateAccRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCase</name>
        <label>GetCase</label>
        <locationX>393</locationX>
        <locationY>71</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecTypePriseEnCharge</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetDossInterv</name>
        <label>GetDossInterv</label>
        <locationX>542</locationX>
        <locationY>379</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DossierExists</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En préparation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Actif</stringValue>
            </value>
        </filters>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </filters>
        <object>Dossier_de_prise_en_charge__c</object>
        <outputReference>currDossierInterv</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetPriseEnChargeCase</name>
        <label>GetPriseEnChargeCase</label>
        <locationX>595</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CasePriseEnChargeExists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ferme (prise en charge)</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecTypePriseEnCharge.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Ferme (abandon de la demande)</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCase.AccountId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>OtherPriseEnChargeCase</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeID</name>
        <label>GetRecordTypeID</label>
        <locationX>736</locationX>
        <locationY>209</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PersonAccount</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>ExpectedAccRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetRecTypePriseEnCharge</name>
        <label>GetRecTypePriseEnCharge</label>
        <locationX>498</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPriseEnChargeCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prise_charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Patient</name>
        <label>Update Patient</label>
        <locationX>127</locationX>
        <locationY>643</locationY>
        <inputReference>GetAccount</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>132</locationX>
        <locationY>504</locationY>
        <connector>
            <targetReference>Update_Patient</targetReference>
        </connector>
        <inputReference>GetCase</inputReference>
    </recordUpdates>
    <screens>
        <name>Message_d_erreur1</name>
        <label>Message d&apos;erreur</label>
        <locationX>124</locationX>
        <locationY>217</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorRecordType</name>
            <fieldText>&lt;p&gt;Le contact lié à la Requête n&apos;est pas un patient. Vous ne pouvez pas continuer. Vérifiez d&apos;abord les données.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_requ_te_existe</name>
        <label>Message requête existe</label>
        <locationX>952</locationX>
        <locationY>71</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CaseExists</name>
            <fieldText>&lt;p&gt;Il existe déjà une requête de prise en charge ouverte pour ce patient. Vous ne pouvez pas continuer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currDossierInterv</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Dossier_de_prise_en_charge__c</objectType>
    </variables>
    <variables>
        <name>ExpectedAccRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>myDossierIntervention</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewDossier</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Dossier_de_prise_en_charge__c</objectType>
    </variables>
    <variables>
        <name>OtherPriseEnChargeCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
